# ignore folders image data files
/facial_images
/NON_facial_images

# ignore features dataset csv files
*.csv

# ignore __pycache__ files
/my-cascade/__pycache__/
/dataset-creation/__pycache__/
/facial-features/__pycache__/
/haar-features/__pycache__/
/cascade/__pycache__/
